/* Index Section */
#button1:hover{
    background-color: rgb(187, 253, 231);
}

#lesson{
    background-color: aliceblue;
    padding: 2%;
    border-radius: 20px;
    width: 90%;
    margin: 50px auto;
}

#lessonrow{
    border: 5px solid rgb(144,201,255);
    border-radius: 50px;
    padding: 10px 20px;
    background-color: white;
}

#lessongrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 5px;
    font-size: 16px;

}

/* Footer Section */
#button{
    border-radius: 5px;
    font-size: large;
}

.footersec{
    background-color: aliceblue;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#button:hover{
    background-color: rgb(187, 253, 231);
}
/* Hobby Section */
.hobbymain{
    background-color: rgb(191,122,255);
}
.hobsec{
    background-color: rgb(161, 159, 253);
    padding: 2%;
    border-radius: 20px;
}

#tabledes{
    background-color: rgba(154, 255, 141, 0.788);
}

#buttonhob:hover{
    background-color: rgb(255, 189, 252);
    color: aliceblue;
}

.footersechob{
    background-color: white;
    font-size: large;
    margin-top: 2%;
    margin-bottom: 2%;
}

.hrline{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: dotted white;
    width: 80%;
    border-width: 30px;
    background-color: #BF7AFF;
}

.hobtext{
    color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

/* Game Section */
#gamesec{
    height: 290px;
    width: 240px;
    position: relative;
}

.gamedisplay{
    display: flex;
    margin: 10px;
    padding: 10px;
    gap: 5px;
    flex-wrap: wrap; 
}

/* Kdrama Section */
.kdramasec{
    height: 350px;
    width: 250px;
    position: relative;
}

/* Feedback form */
.feedbackformbg{
    background-color: rgb(133, 231, 190);
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
}
.feedbackform{
    background-color: white;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    border-radius: 20px;
}

.footersecfeed{
    background-color: rgb(189, 247, 223);
    margin-top: 90%;
    font-size: large;
}